<nav>
    <div class="title"><span>the</span>Vision</div>
    <div class="nav-content">
        <div class="nav-group">
            <p>Principali</p>
            <div><div><mat-icon>explore</mat-icon></div></div>
            <div><div><mat-icon>confirmation_number</mat-icon></div></div>
        </div>
        <div class="nav-group">
            <p>Libreria</p>
            <div><div><mat-icon>bookmars</mat-icon></div></div>
            <div><div><mat-icon>hotel_class</mat-icon></div></div>
      </div>
    </div>
</nav>
