nav{
   display:grid;
   grid-template-rows: 5rem 1fr 1fr;
   padding-left:0.4rem;
   max-width:10rem; 
   min-height: 100svh;
}

.title{
    font-size:1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top:1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}
.title span{
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: lowercase;
    margin-top:0.5rem;
    letter-spacing: normal;
    color: rgba(249, 249, 243, 0.8);
}

.title::after{
    content: '';
    display: block;
    width: 65%;
    height: 3px;
    background-color: #ff69b4;
    margin: 0 auto;
    border-radius: 25px;
}
.nav-content{
   display: grid;
   gap:3rem;
   margin-top: 20px;
}
.nav-group{
    display: grid;
    align-items: flex-start;
    text-align: center;
}
.nav-group>p{
    font-weight: 400;
    color:rgba(249, 249, 243, 0.5);
    text-align: center;
}
.nav-group>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.nav-group>div>div{
    background-color: #ff69b4;
    border-radius:100vw;
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*@media screen and (max-width: 768px){
    nav{
        width:3rem;
    }

    .title{
        font-size: 0.8rem;
    }
    
    .nav-group>p{
        font-size:0.7rem;
    }

    .nav-group>div>div{
        background-color: #ff69b4;
        border-radius:100vw;
        width:30px;
        height:30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-group>div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        font-size: 0.3rem;
    }

    .nav-group>div{
        font-size: 1rem;
    }
}*/