.toolbar{
    width:100%;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-left:30px;
    padding-right:70px;
    margin-top:2rem;
}

.search, .user{
    display:flex;
    align-items: center;
    background-color: #222225;
    border-radius:100vw;
    padding: 0.4rem 0.9rem;
    justify-content: space-between;
}

.search{
    width: 70%;
}

.search>div{
    display: flex;
    max-width: 300px;
}

mat-icon{
    color:#535353
}
.search input{
    border:none;
    outline:none;
    background-color: transparent;
    color: #535353;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left:0.4rem;
}

.search button{
    border:none;
    outline:none;
    background-color: #323232;
    color: #f7f7f7;
    font-size: 0.8rem;
    font-weight: 500;
    padding:.5rem .9rem;
    border-radius: 100vw;
}

.user{
    gap:1rem;
}

.image{
    width:1.9rem;
    height: 1.9rem;
}
.image img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 50%;
}

.person{
    color: #f7f7f7;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: .7px;
}

