<div class="toolbar">
    <div class="search">
        <div class="search-group">
            <mat-icon>search</mat-icon>
            <input type="text" placeholder="search">    
        </div>
       <button>Ricerca</button>
    </div>
    <div class="user">
        <div class="image">
            <img src="https://img.freepik.com/premium-vector/user-profile-icon-flat-style-member-avatar-vector-illustration-isolated-background-human-permission-sign-business-concept_157943-15752.jpg?size=338&ext=jpg&ga=GA1.1.1412446893.1705104000&semt=ais" alt="">
        </div>
        <div class="person">
            <div class="username">Username</div>
        </div>
    </div>
</div>
