<div class="discover-content">
    <div class="list-content">
        <ul>
            <li><a href="">Film</a></li>
            <li><a href="">Serie TV</a></li>
        </ul>
        <span>Vedi tutto >></span>
    </div>
    <div class="rated">
        <h4>TITLE</h4>
        <div class="arrow-container">
            <div><mat-icon>chevron_left</mat-icon></div>
            <div><mat-icon>chevron_right</mat-icon></div>
        </div>
    </div>
    <div class="popular">
        <h4>TITLE</h4>
        <!--Carousel-->
    </div>
</div>
