*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'System-ui', sans-serif;
}

body{
    background: #16161D;
    color: #f7f7f7;
}

app-root{
    display: grid;
    grid-template-columns: auto 1fr;
}